.content {
  margin: 4rem
}

.submitBtn {
  height: 55px;
}

.searchField {
  width: 25rem;
  margin-left: 3rem !important;
}

.noContent {
  margin-top: 14rem;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.noFurtherResults {
  text-align: center;
  margin: 2rem;
  align-items: center;
  display: flex;
}